<!DOCTYPE html>
<html>
  <head>
    <title>Malontines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('post-icon.png') %>
  </head>

  <body>
    <div class="app-container">
      <%= yield %>
    </div>
  </body>
</html>
