<h1>Let's work on forms!</h1>
<%= form_tag "/cows" do %>
  <p>Name: <%= text_field_tag "cow[name]" %></p>
  <p>Spots: <%= number_field_tag "cow[spots]" %></p>
  Farmer: <%= select_tag "cow[farmer_id]", options_from_collection_for_select(@farmers, :id, :name) %>
  <%= submit_tag "Create Cow" %>
<% end %>

<%= form_for :cow, url: cows_path do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p>Spots: <%= f.number_field :spots %></p>
  <p>Farmer: <%= f.collection_select(:farmer_id, @farmers, :id, :name) %></p>
  <%= f.submit "MOOOOVE FORWARD" %>
<% end %>
