<%= form_with(model: taste_tester, local: true) do |form| %>
  <% if taste_tester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taste_tester.errors.count, "error") %> prohibited this taste_tester from being saved:</h2>

      <ul>
        <% taste_tester.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
