<h1>Log In!</h1>

<%= flash[:message] %>

<%= form_tag "/login" do %>
  <p>Username: <%= text_field_tag :username %></p>
  <p>Password: <%= password_field_tag :password %></p>
  <%= submit_tag "Log In" %>
<% end %>

<%= link_to "Not a user? Sign up!", new_user_path %>
