<%= form_for malontine do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :love_note_message %>
    <%= f.text_field :love_note_message %>
  </p>
  <p>
    <%= f.label :malone_id %>
    <%= f.collection_select :malone_id, malones, :id, :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
