<li class="malontine-in-list">
  <%= link_to svg(malontine.malone.svg_url), malontine %>
  <a class="in-heart-link" href="<%= malontine_path(malontine) %>"><h1 class="love-note-overlay-<%= malontine.malone.note_position %> color-<%= random_pastel %>"><%= malontine.love_note_message %></h1></a>
  <h3 class="malontine-creator">(created by <%= malontine.creator.username %>)</h3>
</li>
